
<main class="container">
    <section class="row">
        <div
                class="col "
                *ngIf="code !== null"
        >
            <h1 class="py-2 align-content-center">Detailed Card Info for Code: {{code.id}}</h1>
            <div class="card">
                <div class="card-body">
                    <h2 class=" card-title">Code Solved? {{code.solved}}</h2>
                    <p class="card-text">length: {{code.length}}</p>
                    <p class="card-text">pool: {{code.pool}}</p>
                    <p class="card-text" *ngIf="code.solved === true ">solution:{{code.text}}</p>
                    <h3 class="card-subtitle mb-2 text-muted">List of All Guesses</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" *ngFor="let guess of guesses">
                            text: {{guess.text}}, Exact Matches: {{guess.exactMatches}}, Near
                            Matches: {{guess.nearMatches}}
                        </li>
                    </ul>
                </div>
                <div class="card-footer">
                    <div >
                        <h3 class="card-subtitle mb-2 text-muted">Submit A Guess</h3>
                        <form
                                *ngIf="code.solved === false"
                                (submit)="submitGuess()"
                                [formGroup]="guessForm"
                                class="py-2"
                                novalidate
                        >
                            <div class="form-group">
                                <div class="input-group">
                                    <label class="sr-only" for="guess">Guess The Code</label>
                                    <input class="form-control" formControlName="guess" id="guess" name="guess"
                                           placeholder="guess the code" type="text">
                                </div>
                                <div
                                        class="alert alert-danger"
                                        role="alert"
                                        *ngIf="guessForm.controls.guess?.invalid && guessForm.controls.guess?.touched"
                                >
                                    <span *ngIf="guessForm.controls.guess.errors?.required">a guess is required</span>
                                    <span *ngIf="guessForm.controls.guess.errors?.minlength">
                                    Guess is not long enough please add {{guessForm.controls.guess.errors?.minlength.requiredLength -guessForm.controls.guess.errors?.minlength.actualLength}}
                                        more characters
                                </span>
                                    <span *ngIf="guessForm.controls.guess.errors?.maxlength">
                                    Guess is to long please remove {{guessForm.controls.guess.errors?.maxlength.actualLength - guessForm.controls.guess.errors?.maxlength.requiredLength}} characters
                                </span>
                                </div>
                            </div>
                            <div class="text-md-right">
                                <button  [disabled]="!guessForm.valid" class="btn btn-primary" type="submit">post guess
                                </button>
                            </div>
                        </form>
                        <div *ngIf="previousGuess !== null">
                            <div class="alert alert-dismissible alert-success"
                                 role="alert"
                                 *ngIf="previousGuess.solution === true"
                            >
                                Successful solution for the code
                            </div>
                            <div class="alert alert-dismissible alert-danger"
                                 role="alert"
                                 *ngIf="previousGuess.solution === false"
                            >
                                <button aria-label="Close"  (click)="previousGuess = null" class="close"
                                        type="button">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                Solution failed: text {{previousGuess.text}}, Exact Matches: {{previousGuess.exactMatches}}, Near Matches: {{previousGuess.nearMatches}}
                            </div>
                        </div>
                    </div>
                    <div class="text-muted">
                        <h4 *ngIf="code.solved === true">Code Solved</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>